@font-face {
    font-family: "DIN-Black";
    src: url('./fonts/DIN-Black.ttf') format("truetype");
}

@font-face {
    font-family: "DIN-Bold";
    src: url('./fonts/DIN-Bold.ttf') format("truetype");
}

@font-face {
    font-family: "DIN-Medium";
    src: url('./fonts/DIN-Medium.ttf') format("truetype");
}

@font-face {
    font-family: "DIN";
    src: url('./fonts/DIN.ttf') format("truetype");
}

h1 {
    font-family: "DIN-Bold", Helvetica, Arial, serif;
    color: #000000;
}

h2 {
    font-family: "DIN-Medium", Helvetica, Arial, serif;
    color: #000000;
}

h3 {
    font-family: "DIN-Black", Helvetica, Arial, serif;
    color: #000000;
}

p {
    font-family: "DIN", Helvetica, Arial, serif;
    color: #000000;
}

body {}

#right {
    opacity: 0.57;
    position: absolute;
    z-index: -999;
    float: right;
    top: 70%;
    right: 0;
    width: 40%;
    height: 1400px;
    background-image: url(right.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#top-left {
    z-index: -999;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 1100px;
    background-image: url(top-left.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}


/* #bottom-left {
    z-index: -999;
    float: left;
    position: absolute;
    width: 40%;
    height: 500px;
    background-image: url(bottom-left.svg);
    background-repeat: no-repeat;
    background-size: 100%;
} */

#intro {
    margin-top: 130px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-bottom: 200px;
}

#intro h2 {
    line-height: 10px;
    font-size: 22px;
}

#intro h1 {
    line-height: 50px;
    font-size: 40px;
    letter-spacing: -1.2px;
    padding: 0;
    width: 70%;
}

#intro p {
    font-size: 20px;
    letter-spacing: -0.5px;
    width: 60%;
}

#intro .iconify{
    font-size: 40px;
    margin-right: 5px;
    transition: all .4s ease-in-out;
}


#intro .iconify:hover{
    transform: scale(1.5);
}

#facebook:hover{
    color: #3F51B5;
}

#linked-in:hover{
    color: #009BD8;
}

#github:hover{
    color: #808080;
}

#email:hover{
    color: #DC6058;
}

#medium:hover{
    color: #00B973;
}


/* 
.logo {
    margin-top: 0px;
    background-color: #E3E3E3;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin-right: 10px;
    
    padding: 5px;
}

.logo:hover {
    
} */

/* #email {
    background-color: #DC6058;
}

#email div {
    background-image: url(mail.svg);
    width: 80%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: auto;
    margin-right: auto;
}

#linked-in {
    background-color: white;
    background-image: url(linked-in.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#github {
    background-color: white;
    background-image: url(github.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#facebook {
    background-image: url(fb.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #3F51B5;
} */

#photo-container {
    z-index: 999;
    position: absolute;
    float: right;
    top: 12%;
    right: 20%;
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 20px;
    
}

#photo-container span{
    font-family: "DIN";
    padding-top: 30px;
}


#photo {
    background-image: url(praneeth-photo.png);
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 20px;
    margin-bottom: 10px;
}

#skills {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

#skills h1 {
    font-size: 30px;
    margin-bottom: 30px;
    letter-spacing: -1.2px;
}

#skills h2 {
    font-size: 20px;
}

#skills p {
    letter-spacing: -0.5px;
    font-size: 20px;
}

#unit {
    padding-left: 0px;
    padding-right: 100px;
    padding-bottom: 20px;
}

#projects h1{
    font-size: 30px;
}

#projects {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

#projects h2 {
    font-size: 20px;
    line-height: 15px;
}

#projects p {
    letter-spacing: -0.5px;
    font-size: 20px;
}

#projects .iconify{
    font-size: 30px;
    margin-right: 5px;
    transition: all .4s ease-in-out;
}

#project {
    margin-top: 40px;
    width: 90%;
    border-radius: 8px;
}


.link {
    margin-top: 5px;
    background-color: #E3E3E3;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-right: 10px;
    transition: all .4s ease-in-out;
}

.link:hover {
    transform: scale(1.1);
}

#footer {
    height: 80px;
}

#footer p {
    font-size: 20px;
    line-height: 80px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    letter-spacing: -0.5px;
}

#interests {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

#interests h1{
    font-size: 30px;
}

#interests .iconify{
    margin-right: 10px;
    line-height: 20px;
}


#interests li{
    font-family: "DIN";
    font-size: 20px;
    margin-bottom: 10px;
}

#interests ul{
    margin-top: 20px;
    list-style-type: none;
    padding-left: 0px;
}


@media screen and (max-width: 800px) {
    #right {
        opacity: 0.57;
        position: absolute;
        z-index: -999;
        float: right;
        top: 80%;
        right: 0;
        width: 60%;
        height: 1400px;
        background-image: url(right.svg);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    #top-left {
        z-index: -999;
        float: left;
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        height: 1100px;
        background-image: url(top-left.svg);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    /* #bottom-left {
        z-index: -999;
        float: left;
        position: absolute;
        width: 40%;
        height: 500px;
        background-image: url(bottom-left.svg);
        background-repeat: no-repeat;
        background-size: 100%;
    } */
    #intro {
        margin-top: 130px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        margin-bottom: 200px;
    }

    #intro h2 {
        line-height: 10px;
        font-size: 20px;
    }

    #intro h1 {
        line-height: 50px;
        font-size: 40px;
        letter-spacing: -1.2px;
        padding: 0;
        width: 100%;
    }

    #intro p {
        font-size: 20px;
        letter-spacing: -0.5px;
        width: 100%;
    }

    .logo {
        margin-top: 10px;
        background-color: #E3E3E3;
        border: none;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        margin-right: 10px;
        transition: all .4s ease-in-out;
        padding: 5px;
    }

    .logo:hover {
        transform: scale(1.1);
    }

    #email {
        background-color: #DC6058;
    }

    #email div {
        background-image: url(mail.svg);
        width: 80%;
        height: 80%;
        background-repeat: no-repeat;
        background-size: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #linked-in {
        background-color: white;
        background-image: url(linked-in.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    #github {
        background-color: white;
        background-image: url(github.svg);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    #facebook {
        background-image: url(fb.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-color: #3F51B5;
    }

    #photo-container{

        display: none;
    }

    #skills {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 80px;
    }

    #skills h1 {
        font-size: 30px;
        margin-bottom: 30px;
        letter-spacing: -1.2px;
    }

    #skills h2 {
        font-size: 20px;
    }

    #skills p {
        letter-spacing: -0.5px;
        font-size: 20px;
    }

    #unit {
        padding-left: 0px;
        padding-bottom: 20px;
        padding-right: 0px;
    }

    #projects {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
    }

    #projects h2 {
        font-size: 20px;
        line-height: 25px;
    }

    #projects h1 {
        font-size: 30px;
        line-height: 30px;
    }

    #projects p {
        letter-spacing: -0.5px;
        font-size: 20px;
    }

    #project {
        margin-top: 40px;
        width: 100%;
    }




    .link {
        margin-top: 5px;
        background-color: #E3E3E3;
        border: none;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        margin-right: 10px;
        transition: all .4s ease-in-out;
    }

    .link:hover {
        transform: scale(1.1);
    }

    #footer {
        height: 80px;
    }

    #footer p {
        font-size: 10px;
        line-height: 80px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        letter-spacing: -0.5px;
    }
}